- const todaysDate = `${new Date().getDate()}.${new Date().getMonth()}.${new Date().getFullYear()}`;
- const guestsDropdownOptions = ["optionA", "optionB"]

mixin form-element__label(labelLeft, labelRight)
    div.element
        div.element__label
            label.h3 #{labelLeft}
            label.h3.element__label_mute #{labelRight}

mixin button-group(type)
    div.button-group
        case type
            when "outline"
                +button-outline("click me", false)
                +button-outline("click me", true)
            when "regular"
                +button("click me", false)
                +button("click me", true)
            when "light"
                +button-light("click me", false)
                +button-light("click me", true)

include input/input
include checkbox/checkbox           
include button/button
section.elements-section
    article        
        +form-element__label("text-field", "default") 
        +text-input("default-input","e-mail", "Email")
        +form-element__label("text-field", "hoover/focus")
        +text-input("focused-input", "text", "This is pretty awesome")
        +form-element__label("dropdown", "default")
        +dropdown("Сколько гостей", "guests-dropdown" , "guests-dropdown__selection", "guests-dropdown__menu", "optionA", "optionB" )
        +form-element__label("masked text field", "default")
        +text-input( "" , "date", "")
        +form-element__label("date dropdown", "date dropdown") 
        +date-dropdown_double("id", "ДД.ММ.ГГГГ", "my-datepicker", todaysDate)        
        +form-element__label("filter date dropdown", "")
        +date-dropdown
        +form-element__label("subscription text field", '')
        +text-input
    
    article        
        +form-element__label("checkbox buttons")        
        +checkbox-list("checkboxId", "можно курить", "можно с питомцами", "можно пригласить гостей (до 10 человек)")
    
    article
        +form-element__label("buttons")        
        +button-group("regular")
        +button-group("outline")
        +button-group("light")
        +button-arrow("перейти к оплате")
        