- const todaysDate = `${new Date().getDate()}.${new Date().getMonth()}.${new Date().getFullYear()}`;
- const guestsDropdownOptions = ["optionA", "optionB"]

mixin form-element(labelLeft, labelRight)
    div.element
        div.element__label
            label.h3 #{labelLeft}
            label.h3.element__label_mute #{labelRight}
            

section.elements-section
    article
        include input/input
        +form-element("text-field", "default") 
        +text-input("default-input","e-mail", "Email")
        +form-element("text-field", "hoover/focus")
        +text-input("focused-input", "text", "This is pretty awesome")
        +form-element("dropdown", "default")
        +dropdown("Сколько гостей", "guests-dropdown" , "guests-dropdown__selection", "guests-dropdown__menu", "optionA", "optionB" )
        +form-element("masked text field", "default")
        +text-input( "" , "date", "")
        +form-element("date dropdown", "") 
        +date-dropdown_double("id", "ДД.ММ.ГГГГ", "my-datepicker", todaysDate)
        
        +form-element("filter date dropdown", "")
        +date-dropdown
        +form-element("subscription text field", '')
        +text-input